.money { /* any money amount */
    font-family: monospace;
}
.money:before { content: '₡' }
.money.negative { color: #F00 !important }

#budget {
    max-width: 36em;
}

#budget-legend {
    display: inline-block;
    float: right;
    vertical-align: top;
    border-left: 1px #FFF solid;
}

#budget-legend .income { display: none }
#budget-legend .expense { display: none }
#budget-legend .zero { display: none }

#budget .legend td, #budget .legend th {
    padding: 0;
}

#budget .chart {
    display: inline-block;
    width: 130%;
    margin: 0;
    margin-left: -15%;
    vertical-align: top;
}

#budget .chart .money {
    text-align: center;
}

#budget .charts {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin: 0;
    padding: 0;
    /* hack to make up for the excessive side padding */
    margin-right: -5em;
    margin-left: -2em;
}

#budget .cash { color: #0F0 }
#budget .stats {
    font-size: 1.2em;
}

#budget .taxes, #budget .loans {
    display: inline-block;
    padding-right: 0.25em;
}

#budget .taxes table, #budget .loans table {
    border-left: 1px #FFF solid;
    border-top: 1px #FFF solid;
}
