html {
    width: 100%;
}

body {
    padding-top: 2em;
    background: #000;
    color: #FFF;
    width: 100%;
}

#navbar {
    position: absolute;
    top:   0;
    left:  0;
    right: 0;
    padding-left: 0.25em;
    min-height: 1.3em;
    background: linear-gradient(to bottom,
        #002D63 0%,
        #004D83 100%
    );
    border-bottom: 1px #FFF solid;
    font-size: 1.3em;
}

.container {
    width: 100% !important;
}

.box h1 {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    background: linear-gradient(to bottom,
        #002D63 0%,
        #004D83 100%
    );
    border-bottom: 1px #FFF solid;
}

.list {
    border: 1px #FFF solid;
    max-width: 45%;
    overflow-y: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}

.money { /* any money amount */
    font-family: monospace;
}
.money:before { content: '₡' }
.money.negative { color: #F00 !important }
#budget .cash { color: #0F0 }
#budget .stats {
    font-size: 1.2em;
}

/* table {
    border-left: 1px #FFF solid;
    border-top: 1px #FFF solid;
} */

td, th {
    border-right: 1px #FFF solid;
    border-bottom: 1px #FFF solid;
}

.chart h2 {
    font-size: 1.1em;
    margin: 0;
    text-align: center;
}

#budget .chart {
    display: inline-block;
    width: 200px;
    margin: 0;
    border: 1px #F00 dotted;
    vertical-align: top;
}

#budget .chart .money {
    text-align: center;
}

#clock {
    position: absolute;
    top: 0;
    right: 0.25em;
    text-align: right;
    color: #CCC;
}

#chirper .name {
    font-weight: bold;
    margin-right: 1em;
}

#transit .blimp { background-color: #424 }
#transit .bus   { background-color: #044 }
#transit .train { background-color: #420 }
#transit .ferry { background-color: #004 }
#transit .metro { background-color: #040 }

#transit .stops, #transit .vehicles, #transit .passengers {
    text-align: right;
}
