#navbar {
    position: absolute;
    top:   0;
    left:  0;
    right: 0;
    padding-left: 0.25em;
    min-height: 1.3em;
    background: linear-gradient(to bottom,
        #002D63 0%,
        #004D83 100%
    );
    border-bottom: 1px #FFF solid;
    font-size: 1.3em;
}

#city-name {
    margin-right: 0.5em;
    font-weight: bold;
}

#navbar-population::before { content: '👥' }

#navbar-error {
    color: #F00;
    border: 1px #800 solid;
    padding: 2px;
    background: #400;
}

#clock {
    position: absolute;
    top: 0;
    right: 0.25em;
    text-align: right;
    color: #CCC;
}

#clock.game-paused {
    color: #FF4;
}
