#population-table th { text-align: left; }
#population-table td { text-align: right; font-family: monospace;}

#population-table {
    width: 50%;
}

#population {
    overflow-x: hidden;
    width: 22em;
}

#population .chart {
    overflow: visible;
}

#population-chart {
    /* stupid hack to line chart up nicely
     * without being surrounded by empty space
     */
    position: absolute;
    right: -15%;
    top:    1.45em;
    width:  70%;
}

#population-graph {
    width: 100%;
}
